@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

body {
  @apply overflow-x-hidden;
}

#root {
  @apply overflow-x-hidden;
}

/* Ocultar scrollbar pero permitir scroll */
body {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

html, body {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}
